openvino>=2024.2.0
openvino-tokenizers[transformers]
git+https://github.com/huggingface/optimum-intel.git
git+https://github.com/openvinotoolkit/nncf.git
datasets
accelerate
gradio
onnx
einops
transformers_stream_generator
tiktoken
transformers>=4.40
bitsandbytes
faiss-cpu
sentence_transformers
langchain>=0.2.0
langchain-community>=0.2.0
langchainhub
unstructured
scikit-learn
python-docx
pypdf