--extra-index-url https://download.pytorch.org/whl/cpu
torch
optimum
optimum-intel
llama-index
pymupdf
llama-index-readers-file
llama-index-llms-openvino>=0.2.0
llama-index-embeddings-openvino>=0.2.0
llama-index-postprocessor-openvino-rerank>=0.2.0
transformers>=4.40
optimum
nncf
datasets
accelerate
openvino>=2024.2.0
openvino-tokenizers[transformers]
fastapi
uvicorn
python-multipart